*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #888;
}

.cage{
	border: 10px solid #555;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin-left: 20%;
	margin-top: 3%;
}

#donotpush{
	background-color: red;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	display: inline-block;
	margin-left: 5%;
	text-align: center;	
	position: absolute;
	bottom: 180px;
}

#reset{
	display: none;
	background-color: green;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	margin: auto;
	text-align: center;
	position: relative;
	top: 100px;
}

span{
	font-size: 24px;
	line-height: 30px;
	margin: auto;
	position: relative;
	top: 40%;
	
}

#scratch{
	z-index: 5;
	position: absolute;
	top: 10%;
	left: 10%;
	display: none;
}

.elephant:hover{
	cursor: url("apple1.cur");
}

audio{
	display: none;
}

